@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-fit {
	scrollbar-width: thin;
}

button {
	@apply focus:outline-none
}

.btn-primary {
	@apply py-2 px-3 bg-blue-600 mt-8 cursor-pointer text-gray-50 hover:bg-blue-500 rounded-md;
}

.input-primary {
	@apply bg-gray-100 border-none w-full my-2 focus:border-blue-500 focus:ring-blue-500 text-gray-700 rounded-md;
}

.bg-primary {
	@apply bg-white w-screen h-screen flex justify-center items-center;
}

.rotate-90 {
	transform: rotate(90deg);
}

::-webkit-scrollbar {
	@apply bg-gray-300 w-2;
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-500;
}

.trapezoid {
	clip-path: polygon(100% 25%, 100% 75%, 0 100%, 0 0);
}

.cursor-grab {
	cursor: grab;
}

.spinning-animation {
	animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
